<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Iceberg Search</title>
    <style>
    	ul.movies{
	    	list-style:none;
    	}
    	.movie{
	    	margin:20px;
    	}
    	.movie .title{
	    	font-size:x-large;
    	}
    	.movie .rating{
	    	font-size:medium;
    	}
    	.movie .metadata{
	    	display:inline-block;
	    	margin-right:25px;
	   	}
	   	
    	ul.actors{
	   		display:block;
	   		width:60%;
	   		margin-top:5px;
	   		padding:0px;
	   		padding-top: 5px;
	   		border-top: 1px solid rgba(0,0,0,0.05);
    	}
    	.actor{
	    	display:inline-block;
	    	width:33%;
    	}
    	
    </style>
    <script src="js/lib/angular.js"></script>
	<script src="js/app.js"></script>
</head>
<body>

<div ng-controller="MainCtrl">

	<h1>Iceberg Movies</h1>
	
	Search: <input type="text" ng-model="search.query" placeholder="Search..."/>
	<span class="search-message">
		<span ng-if="search.query.length>0 && search.query.length<search.minChars" id="searchmessage">{{search.minCharsMsg}}</span>
		<span ng-if="search.query.length>=search.minChars && search.results.length">Matched {{search.results.length}} of {{movies.length}} total</span>
		<span ng-if="search.query.length>=search.minChars && !search.results.length">{{search.noResultsMsg}}</span>
	</span>
	<ul class="movies">
		<li class="movie" ng-repeat="movie in search.results =( movies | byField:'title':search.query:search.minChars | orderBy:'title' | limitTo:search.limit)">
			<span class="title"><b>{{movie.title}}</b></span>
			<div>
			<span class="year metadata">{{movie.year}}</span>
			<span ng-if="search.query.length<search.minChars">
				<span class="duration metadata">{{Math.round(movie.duration/60)}}min</span>
				<span class="rating metadata">{{"*****".substring(0,movie.rating)}}</span>
			</span>
			</div>
			<ul class="actors" ng-if="search.query.length<search.minChars">
				<li class="actor" ng-repeat="actor in movie.actors.list">
					{{actor.name}}
				</li>
			<ul>
		</li>
	</ul>

</div>

</body>
</html>